.btn-primary {
  width: 152px;
  height: 40px;border-radius: 12px;
  background-color: rgba(61, 85, 249, 1); 
  border: none; 
  margin-top: 24px;
  transition: 0.3s ease;
  color: white;

  &:hover {
    transform: translateY(-5px);
  } 

  &:active {
    background-color: aqua;
  }
}