.header_nav {
  position: fixed;
  background-color: white;
  top: 0;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.header_link {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.header_link li a {
  text-decoration: none;
  color: black;
  margin-top: 12px;
}

.header_df {
  display: flex;
  gap: 64px;
}
